<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Esqueceu sua senha?</title>
  <link rel="stylesheet" href="static/css/styleinicial.css">
</head>
<body>
   <!-- Password Recovery Form (hidden by default) -->
          <div class="login-box forgot-password-container" id="forgotPasswordForm">
              <h2>Recuperação de Senha</h2>
              <h3>Insira seu E-mail para que possamos recuperar a senha.</h3>
              <form id="forgotForm">
                  <input type="email" name="email" placeholder="Seu e-mail cadastrado" required>
                  <button type="submit" class="btn-entrar">Enviar Link de Recuperação</button>
              </form>
              <div class="aux-link" style="text-align: center; margin-top: 1rem;">
                  <a href="#" id="backToLogin">Voltar ao login</a>
              </div>
          </div>
      </div>
  </div>
</body>
</html>
